<<<<<<< HEAD
*, *::before, *::after {
=======
*,
*::before,
*::after {
>>>>>>> origin/develop
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
html, body, #root {
=======
html,
body,
#root {
>>>>>>> origin/develop
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}